* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #3d3d3d !important;
  line-height: 1.8 !important;
}
a {
  color: #3d3d3d;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}

.button {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  background-color: #fb9300;
  color: #000;
  border: none;
}
.button:hover {
  background-color: #000;
  color: #fb9300;
  transition: transform 0.2s ease-out;
  transform: scale(1.1);
}
/* custom styling */

.web-fontcolor {
  color: #fb9300 !important;
}

.nav-header {
  background-color: #fb9300;
}
.nav-header > div,
.sticky-navbar > div {
  font-weight: 500;
}
.has-menu {
  cursor: pointer;
}
.has-menu::after {
  font-weight: bolder;
  content: ">";
  left: 10px;
  position: relative;
  pointer-events: none;
  color: rgb(0, 0, 0);
  font-size: 22px;
  transform: rotate(90deg);
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s;
}
.has-menu:hover::after {
  transform: rotate(270deg);
}

.logo {
  height: 10vh;
  overflow: hidden;
}
.image-container img {
  max-width: 60px !important;
}
.search-logo {
  background-color: #fb9300;
}
.search-bar input {
  border-radius: 100px 0 0 100px;
  border: 1px solid gray;
}
.search-bar > div {
  border-radius: 0 100px 100px 0;
  border: 1px solid gray;
}

.sticky-navbar,
.logo,
.nav-header {
  z-index: 9 !important;
}

.sticky-navbar img {
  max-width: 50px !important;
}
.sticky-navbar li {
  list-style-type: none;
}
.sticky-navbar a {
  text-decoration: none;
  color: black;
}

.header-carousel {
  z-index: 1;
}

.header-carousel img {
  height: auto !important;
  width: 100% !important;
}
.performance-section h2 {
  /* color: #676f77; */
  /* color: #3d3d3d; */
}
.performance-section h2::after,
.apply-section h2::after {
  content: "";
  display: block;
  width: 3.75rem;
  height: 0.375rem;
  margin-top: 1.5625rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background: #ffd51f;
}
.performance-section p {
  margin-bottom: 1.5rem;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  text-align: center;
}

/* world of wk section*/
.worldwk-section a:hover {
  transition: transform 0.2s ease-in-out;

  transform: translateY(-3px);
}
.flex-gap-x > * {
  margin-right: 1rem;
  margin-left: 1rem;
}
.flex-gap-y > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.img-container {
  background: url("/files/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
  opacity: 0.6;
}
.img-container div {
  background-color: #ffd51f;
  opacity: 0.6;
}
.contact-us-section .headings {
  gap: 1.4rem;
}
.arrow-left > i {
  margin-left: 1rem;
}

/* grig nav section */
.grid-nav-section > div {
  height: 30vh;
}
.grid-nav-section .left {
  width: 70%;
  height: 100%;
  opacity: 0.4;
  background-color: #ffd51f;
}
.grid-nav-section .right {
  width: 28%;
  height: 100%;
  opacity: 0.4;
  background-color: #ffd51f;
}
@media screen and (min-width: 1199.98px) {
  .nav-header,
  .sticky-navbar {
    font-size: 1.3rem !important;
  }
  .has-menu::after {
    font-size: 22px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .nav-header {
    font-size: 1rem !important;
  }
  .sticky-navbar {
    font-size: 0.875rem !important;
    font-weight: 600 !important;
  }
  .has-menu::after {
    font-size: 14px !important;
  }
  .web-backcolor {
    background-color: #fb9300 !important;
  }
  .contact-btn-border {
    clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
  .sticky-navbar {
    width: 100%;
    position: absolute;
    z-index: 99;
    background-color: white;
    max-height: 0px !important;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }
  .sticky-navbar li,
  .contact-btn-border > div,
  .top-header > div {
    margin: 10px 0px !important;
  }
  .search-bar {
    font-size: 1rem !important;
  }
  .top-header {
    position: absolute;
    top: 450px !important;
    left: 0px;
    z-index: 99;
    width: 100%;
    background-color: white;
    max-height: 0px !important;
    overflow: hidden;
    transition: 1s ease-in-out;
  }
  .hamburger {
    top: 0px;
    right: 10px;
  }
  .grid-nav-section > div {
    height: auto;
  }
  .grid-nav-section .right,
  .grid-nav-section .left {
    width: 100%;
    height: 25vh;
  }
}
/* mobile devices */
@media screen and (max-width: 451.98px) {
  .image-container img {
    max-width: 50px !important;
  }
}

.show {
  max-height: max-content !important;
  transition: 1s ease-in-out !important;
}

/* hamburger transition */
.hamburger .container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.2s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* hamburger transition */
