.web-fontcolor {
  color: #fb9300 !important;
}

.nav-header {
  background-color: #fb9300;
}
.nav-header > div,
.sticky-navbar > div {
  font-weight: 500;
}
.has-menu {
  cursor: pointer;
}
.has-menu::after {
  font-weight: bolder;
  content: ">";
  left: 10px;
  position: relative;
  pointer-events: none;
  color: rgb(0, 0, 0);
  font-size: 22px;
  transform: rotate(90deg);
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s;
}
.has-menu:hover::after {
  transform: rotate(270deg);
}

.logo {
  height: 10vh;
  overflow: hidden;
}
.image-container img {
  max-width: 60px !important;
}
.search-logo {
  background-color: #fb9300;
}
.search-bar input {
  border-radius: 100px 0 0 100px;
  border: 1px solid gray;
}
.search-bar > div {
  border-radius: 0 100px 100px 0;
  border: 1px solid gray;
}

.sticky-navbar img {
  max-width: 50px !important;
}
.sticky-navbar li {
  list-style-type: none;
}
.sticky-navbar a {
  text-decoration: none;
  color: black;
}

.header-carousel {
  height: 90vh;
}
.carousel-image-container {
  height: 90vh;
}

@media screen and (min-width: 1199.98px) {
  .nav-header,
  .sticky-navbar {
    font-size: 1.3rem !important;
  }
  .has-menu::after {
    font-size: 22px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .nav-header {
    font-size: 1rem !important;
    line-height: 1.8 !important;
  }
  .sticky-navbar {
    font-size: 0.875rem !important;
    font-weight: 600 !important;
  }
  .has-menu::after {
    font-size: 14px !important;
  }
  .web-backcolor {
    background-color: #fb9300 !important;
  }
  .contact-btn-border {
    clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0% 100%);
  }
}
/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
  .sticky-navbar {
    width: 100%;
    position: absolute;
    z-index: 99;
    background-color: white;
    max-height: 0px !important;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }
  .sticky-navbar li,
  .contact-btn-border > div,
  .top-header > div {
    margin: 10px 0px !important;
  }
  .search-bar {
    font-size: 1rem !important;
  }
  .top-header {
    position: absolute;
    top: 450px !important;
    left: 0px;
    z-index: 99;
    width: 100%;
    background-color: white;
    max-height: 0px !important;
    overflow: hidden;
    transition: 1s ease-in-out;
  }
  .hamburger {
    top: 0px;
    right: 10px;
  }
}
@media screen and (max-width: 451.98px) {
  .image-container img {
    max-width: 50px !important;
  }
}

.show {
  max-height: max-content !important;
  transition: 1s ease-in-out !important;
}

/* hamburger transition */
.hamburger .container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.2s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* hamburger transition */
